.container-slide {
  animation: imgMoveUpDown 6s infinite alternate;
}
@keyframes imgMoveUpDown {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center center;
  }
}
