@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
.Slider {
  animation: slide 25s infinite;
}
