.Lector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-L {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagina {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.Bar {
  width: 30em;
  justify-content: space-between;
}

.Bar li {
  display: block;
  list-style: none;
  padding: 0 1em;
}

.Bar ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

ul:focus {
  border: 3px solid red;
}
